
img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
body, hyml {
    margin: 0;
    padding: 0;
    height: 100%;
    flex-wrap: wrap;
    background: wheat;
    display: flex;
    flex-direction: column;

}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:rgb(236, 203, 20);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
.smaller {
    font-size: 5em;
}
.bigger {
    font-size: 6em;
}
.with-mset {
    font-size: 2em;
}
.container {
   display: flex;
   flex-flow: row nowrap;
   height: 55vh;
   justify-content: space-evenly;
   align-items:center;
   color: rgb(0, 0, 0);
   font-size:1.5em;


}

/* สไตล์สำหรับรูปภาพ */
.container img {
    width: 25%; /* ให้รูปครึ่งหนึ่งของจอ */
    height: 80%;/* เต็มความสูงของหน้าจอ */
    border-radius: 20%;
    
}
.noto-sans-thai-looped-thin {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-extralight {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-light {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-regular {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-medium {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-semibold {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-bold {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-extrabold {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .noto-sans-thai-looped-black {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

.san{
    display:flex;
    justify-content: space-around;

}
.san h1 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(152, 75, 2);
    text-shadow: 2px 2px 4px rgb(255, 213, 0);

}
.mset {
    display : flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.mset t1{
    font-size:2em;
}
.mset img{
    width: 50vh;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
}

.textsan {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content:center;

}
.engh{
    display:flex;
    justify-content: space-around;
}
.engh h1 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(152, 75, 2);
    text-shadow: 2px 2px 4px rgb(255, 213, 0);
}
.engp {
    display : flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.engp img{
    width: 50vh;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
}
.engt {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.comh {
    display:flex;
    justify-content: space-around;
}
.comh h1 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(152, 75, 2);
    text-shadow: 2px 2px 4px rgb(255, 213, 0);
}
.comp {
    display : flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.comp img{
    width: 50vh;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
}
.comp video{
    width: 50vh;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
}
.comt {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.malayh {
    display:flex;
    justify-content: space-around;
}
.malayh h1 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(152, 75, 2);
    text-shadow: 2px 2px 4px rgb(255, 213, 0);
}
.malayp {
    display : flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.malayp img{
    width: 50vh;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
}
.malayt {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}
.trah {
    display:flex;
    justify-content: space-around;
}
.trah h1 {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(152, 75, 2);
    text-shadow: 2px 2px 4px rgb(255, 213, 0); }
.trap {
    display : flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.trap img{
    width: 50vh;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20%;
}
.trat {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}
footer {
    background-color: #333; /* สีพื้นหลัง */
    color: white; /* สีตัวอักษร */
    text-align: center; /* จัดกลางข้อความ */
    padding:1px; /* ระยะห่างรอบๆ */
    position: relative;
    bottom: 0;
    width: 100%;
}

